body {
    font: 100% Courier New;
    margin: 20px;
    line-height: 26px;
    background-color: #000000;
}

header {
    position: relative;
    color: #84c754;
    padding: 15px;
}

header h1, header p {
    margin: 0;
    text-align: center;
}
header p {
    font-style: italic;
}

main {
    padding: 10px;
    color: #84c754;
    position: relative;
}

#menuList {
    position: relative;
    padding: 0px;
    overflow: auto;
    list-style: none;
    justify-content: center;
    display: flex;
}

.menuItem {
    margin: 10px;
    float: left;
    text-align: center;
}

.menuItem a {
    color: #84c754;
    text-decoration: none;
}

.menuItem a:hover {
    color: white;
    font-weight: bold;
}

section h2 {
    justify-content: center;
    text-align: center;
}

section p {
    justify-content: center;
    text-align: center;
}

.socialItem {
    margin: 10px;
    float: left;
    text-align: center;
}

.socialItem a {
    color: #84c754;
    text-decoration: none;
}

.socialItem a:hover {
    color: white;
    font-weight: bold;
}

footer {
    border: 1px solid #ffffff;
    border-radius: 4px;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    line-height: 14px;
}

footer a {
    color: white;
}

